/* Global */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-font: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #F5F9FF;
  font-family: var(--main-font);
  font-size: 14px;
}

p {
  line-height: 1.2rem;
}

a {
  text-decoration: none;
  color: #275EFE;
}

.model-description p:nth-child(2) {
  padding-bottom: 15px;
}

.bold {
  font-weight: 800;
}

/* model */

.model-login {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.model-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 800;
  padding: 1.5rem 0px;
}

i.logo {
  font-size: 2rem;
  margin-right: 5px;
}

.model-description {
  max-width: 400px;
}

/* inputs */

form {
  max-width: 400px;
  border: 1px solid #CDD9ED;
  padding: 10px;
  margin-top: 1rem;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  min-width: 0;
  margin: 0 5px 10px 5px;
  padding: 6px;
  text-align: center;
  border: 1px solid #CDD9ED;
  border-radius: 5px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
}

input:focus {
  border: 2px solid #275EFE;
  box-shadow: 2px 1px 3px rgba(39, 94, 254, 0.2);
}

input:nth-child(1) {
  margin-left: 0;
}

input:nth-child(6) {
  margin-right: 0;
}

button {
  width: 100%;
  height: 40px;
  background: #eef4ff;
  border: 1px solid   #CDD9ED;
  border-radius: 5px;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.05);
  font-family: var(--main-font);
  font-weight: 800;
}

button:focus {
  border: 2px solid #275EFE;
}

button:hover {
  background: #8daafe;
  border: 1px solid #275EFE;
  color: #fff;
}